      <div class="sidebar">
        <div class="gadget">
		<h2 class="star"><span>Search</span></h2>
		  <ul class="sb_menu">
			<%= search_form_for @q do |f| %>
			<%= f.text_field :title_or_body_cont %>
			<%= f.submit "Search" %>
			<% end %>
          <h2 class="star"><span>Category</span></h2>
          <div class="clr"></div>
          <ul class="sb_menu">
		  <% all_categories.each do |cat| %>
		  <li><%= link_to cat.name,cat %></li>
		  <% end %>
          </ul>
          </ul>
        </div>
		
        <div class="gadget">
          <h2 class="star"><span>Posts</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
		  <% all_posts.each do |post| %>
		  <li><%= link_to post.title,post %></li>
		  <% end %>
          </ul>
        </div>
      </div>