<%= render "partials/header" %>
  <div class="hbg">
    <div class="logo">
      <h1><a href="index.html"></a></h1>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
	    <div class ="flashmessage">
		<% flash.each do |key,value|%>
		<p><%= value %></p>
		<%end%>
		</div>


	    <%= yield %>      
      </div>
<%= render "partials/sidebar" %>
      <div class="clr"></div>
    </div>
  </div>
  <%= render "partials/footer" %>